UNIFI_BASE=https://diag-unifi.diag.vn:11443
UNIFI_API_KEY=your_unifi_api_key_here
UNIFI_SITE=default
POST_AUTH_DELAY_MS=1500
UNIFI_REQUEST_TIMEOUT_MS=5000
AUTHORIZE_DEADLINE_MS=15000
CLIENT_WAIT_ATTEMPTS=12
CLIENT_WAIT_INTERVAL_MS=750
